@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

:root, * {
    font-family: 'Merriweather', serif;
}

.container {
    display: grid;
    grid-template-areas: "LS M RS";
    grid-template-columns: 15% 70% 15%;
}

main {
    box-sizing: border-box;
    padding: 1.5rem;
    display: grid;
    grid-template-areas: 
        "A B B"
        "C B B"
        "D D D";
    grid-template-rows: 20rem 10rem 20rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-inline: auto;
    background-color: rgb(252, 252, 243);
    gap: 2rem;
    grid-area: M;
}

.top-post {
    grid-area: A;
}

.banner {
    grid-area: B;
}

.banner img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.sub-post {
    grid-area: C;
}

.left-side {
    position: sticky;
    top: 0;
    grid-area: LS;
    background-color: cadetblue;
    /* align-self: start; */
    height: 100vh;
}

.right-side {
    position: sticky;
    top: 0;;
    /* align-self: start; */
    height: 100vh;
    grid-area: RS;
    background-color: antiquewhite
}

.expand {
    height: 40rem;
}